<!-- Sample form page -->

<h1>form Header</h1>
<form action='/scrabble_score' method='get'>
  <div class="form-group">
    <label for="word">A Label</label>
    <input id="" name="" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
