<!-- This is the layout file
     You will need it to add the common template for all your pages.
     Feel free to modify this page in order to change the look and
     feel of your site
-->

<!DOCTYPE html>
<html>
  <head>
    <title>page title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Page Name Goes Here</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
